.button {
    background-color: $red;
    width: 180px;
    height: 55px;
    line-height: 55px;
    max-width: 100%;
    
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    
    display: inline-block;
    border: none;
    cursor: pointer;
    
    letter-spacing: .25em;
    padding-left: 14px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    &--black {
        background-color: #000;
        color: #FFF;
    }
    &--long {
        width: 575px;
    }
    &--full {
        width: 100%;
    }
    &--small {
        font-size: 16px;
    }
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  peru;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 23px 20px;
         -o-background-size: 23px 20px;
            background-size: 23px 20px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}



.form {
    h2 {
        color: #000;
        font-family: $s;
        width: 120%;
        margin-left: -10%;
        margin-right: -10%;
        margin-bottom: 0;
    }
    .form-controls {
        width: 120%;
        margin-left: -10%;
        margin-right: -10%;
        margin-top: 65px !important;
        .button {
            margin-top: 0;
        }
    }
    .form-title {
        text-transform: uppercase;
        letter-spacing: .5em;
        padding-left: 14px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .col-4 {
        padding: 0 35px;
    }
    .col-12 {
        &:nth-child(n+1) {
            margin-top: 35px;
        }
    }
    .flex-row {
        &:nth-child(n+1) {
            margin-top: 35px;
        }
    }
    label {
        text-transform: uppercase;
        color: #FFF;
        display: block;
        text-align: center;
        width: 100%;
        font-weight: 700;
        letter-spacing: .5em;
        margin-bottom: 6px;
    }
    .input-group {
        color: #000;
        text-align: left;
        position: relative;
        background-color: #FFF;
        height: 55px;
        line-height: 55px;
        padding-left: 20px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        input {
            width: 100%;
            border: none;
            font-size: 18px;
            font-weight: 400;
            display: block;
            height: 100%;
        }
        &--select {
            padding-left: 60px;
            cursor: pointer;
            background-image: url("../images/arrow-down.svg");
            background-position: 95% 50%;
            background-repeat: no-repeat;
            border: none !important;
            -webkit-background-size: 18px 12px;
                 -o-background-size: 18px 12px;
                    background-size: 18px 12px;
            input {
                width: 0;
                height: 0;
                position: absolute;
                left: 0;
                opacity: 0;
                font-size: 21px;
                font-weight: 600;
            }
        }
        span {
            font-size: 21px;
            font-weight: 600;
        }
        img {
            position: absolute;
            height: 20px;
            left: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        ul {
            visibility: hidden;
            opacity: 0;
            top: 120%;
            list-style-type: none;
            background-color: #FFF;
            position: absolute;
            left: 0;
            width: 100%;
            padding: 20px;
            -webkit-border-radius: 5px;
                border-radius: 5px;
            @include transition(all, .2s);
            li {
                display: block;
                line-height: normal;
                padding: 5px 0;
            }
            &.open {
                visibility: visible;
                opacity: 1;
                top: 105%;
            }
        }
    }
    small {
        margin-top: 35px;
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        & + button {
            margin-top: 4px;
        }
    }
    button {
        width: 380px;
        margin-top: 35px;
        &.button--full {
            width: 750px;
            max-width: 100%;
        }
    }
    input.datepicker {
        width: 100%;
        height: 100%;
        padding-left: 60px;
        opacity: 1;
        visibility: visible;
        border: none;
        background: transparent;
    }
    &--dark {
        .input-group {
            border: 2px solid $text;
        }
        label {
            color: $text;
        }
    }
}

.ui-datepicker {
    margin-top: 4px;
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: 340px;
    color: $text;
    a {
        color: $text;
    }
    .ui-datepicker-calendar {
        width: 100%;
    }
    .ui-datepicker-header {
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
        margin: 0 10px;
        cursor: pointer;
    }
    .ui-datepicker-title {
        color: $red;
    }
}


address {
    margin-top: 60px;
    font-style: normal;
    color: #FFF;
    h2 {
        margin-bottom: 25px;
    }
    p {
        letter-spacing: .025em;
    }
    a {
        display: block;
        color: #FFF;
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        margin-top: 6px;
        letter-spacing: .025em;
    }
}