         
.mainHeader {
    @include position(fixed, 0, auto, 0, 0);
    @include transition(all, .4s);
    height: 100%;
    width: 80px;
    padding: 45px 0;
    background: #fff;
    z-index: 100;
    overflow: hidden;
    padding-left: 25px;
    @media (max-width: 1700px) {
        padding: 35px 0 35px 25px;
    }
    @media (max-width: 1500px) {
        padding: 20px 0 20px 25px;
    }
    @media (max-width: 1200px) {
        width: 60px;
        padding-left: 15px;
    }
    @media (max-width: 760px) {
        width: 46px;
        padding-left: 10px;
    }
    .wrapper {
        height: 100%;
        width: 100%;
        width: 405px;
        margin: 0;
        @include flex($direction: column, $alignI: flex-start);
        padding: 0 !important;
        max-width: 1000px;
        @media (max-width: 1700px) {
            width: 345px;
        }
        @media (max-width: 1500px) {
            width: 305px;
        }
        @media (max-width: 1200px) {
            width: 285px;
        }
        @media (max-width: 760px) {
            width: 230px;
        }
    }
    &.opened {
        width: 430px;
        & + .overlay {
            opacity: 1;
            z-index: 10;
            visibility: visible;
        }
        .page-navigation,
        .sections-menu span,
        .social a {
            opacity: 1;
        }
        @media (max-width: 1700px) {
            width: 370px;
        }
        @media (max-width: 1500px) {
            width: 330px;
        }
        @media (max-width: 1200px) {
            width: 300px;
        }
        @media (max-width: 760px) {
            width: 240px;
        }
    }
}

.overlay {
    z-index: -1;
    visibility: hidden;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include transition(all, .4s);
    opacity: 0;
    background: rgba(0,0,0,.5);
}


.logo {
    position: fixed;
    width: 220px;
    top: 40px;
    z-index: 99;
    left: 50%;
    margin-left: 40px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    img {
        width: 100%;
    }
    @media (max-width: 1700px) {
        top: 30px;
        width: 200px;
    }
    @media (max-width: 1500px) {
        top: 20px;
        width: 180px;
    }
    @media (max-width: 1200px) {
        position: absolute;
        margin-left: 30px;
    }
    @media (max-width: 1200px) {
        margin-left: 20px;
    }
    @media (max-width: 760px) {
        width: 140px;
    }
}

.page-navigation {
    list-style-type: none;
    position: absolute;
    top: 40px;
    left: 80px;
    min-width: 300px;
    @include transition(all, .3s);
    opacity: 0;
    @media (max-width: 1700px) {
        top: 30px;
    }
    @media (max-width: 1500px) {
        top: 18px;
    }
    @media (max-width: 1200px) {
        left: 60px;
    }
    li {
        display: block;
        text-align: left;
        margin-bottom: 14px;
        @media (max-width: 1500px) {
            margin-bottom: 10px;
        }
        a {
            color: #000;
            font-size: 30px;
            font-weight: 700;
            font-family: $l;
            @include transition(all, .2s);
            &:hover {
                color: $red;
            }
            @media (max-width: 1700px) {
                font-size: 24px;
            }
            @media (max-width: 1500px) {
                font-size: 20px;
            }
            @media (max-width: 760px) {
                font-size: 16px;
            }
        }
    }
}

.sections-menu {
    list-style-type: none;
    li {
        display: block;
        margin: 30px auto;
        @media (max-width: 1700px) {
            margin: 20px auto;
        }
        @media (max-width: 1500px) {
            margin: 15px auto;
        }
        @media (max-width: 760px) {
            margin: 8px auto;
        }
    }
}
.sections-menu {
    text-align: left;
    margin-top: 100px;
    @media (max-width: 1500px) {
        margin-top: 60px;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        @media (max-width: 760px) {
            width: 25px;
        }
    }
    span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        letter-spacing: .2em;
        @include transition(all, .3s);
        opacity: 0;
        @media (max-width: 1700px) {
            font-size: 16px;
        }
        @media (max-width: 1500px) {
            font-size: 14px;
        }
        @media (max-width: 760px) {
            font-size: 12px;
        }
    }
    img:first-of-type {
        display: none;
    }
    .active {
        img:first-of-type {
            display: inline-block;
        }
        img:nth-of-type(2) {
            display: none;
        }
    }
}

.social {
    text-align: left;
    p {
        margin-bottom: 15px;
        @media (max-width: 1500px) {
            margin-bottom: 10px;
        }
        @media (max-width: 760px) {
            margin-bottom: 8px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        @include transition(all, .2s);
        &:hover {
            color: $red;
        }
    }
    i {
        margin-right: 24px;
        display: inline-block;
        vertical-align: middle;
        line-height: .9;
        img {
            max-width: 100%;
        }
        @media (max-width: 760px) {
            width: 25px;
        }
    }
    a {
        color: #000;
        font-weight: 700;
        letter-spacing: .25em;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
        @media (max-width: 1700px) {
            font-size: 16px;
        }
        @media (max-width: 1500px) {
            font-size: 14px;
        }
        @media (max-width: 760px) {
            font-size: 12px;
        }
        & + a {
            margin-left: 14px;
        }
        img {
            width: 16px;
            height: 16px;
            display: block;
        }
        @include transition(all, .2s);
        &:hover {
            color: $red;
        }
    }
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 100;
    border: none;
    position: relative;
    background: transparent;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    @media (max-width: 760px) {
        width: 25px;
    }
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 100%;
        height: 4px;
        background-color: $red;
        @include transition(all, .4s);
    }

    .top_line              {   top: 0px;  margin: auto;}
    .middle_line           {   top: 9px;  margin: auto;}
    .bottom_line           {   bottom: 0px; margin: auto;}

    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}
}
